/.vscode
/reach
/WhiteList/.reach
/WhiteList/.dockerignore
/WhiteList/.Dockerfile
/WhiteList/reach
/DeadMansSwitch/.reach
/DeadMansSwitch/.dockerignore
/DeadMansSwitch/.Dockerfile
/DeadMansSwitch/reach
